# Cấu hình cổng các dịch vụ
PORT_FRONTEND=3000
PORT_BACKEND=8000
PORT_AI_SERVICE=8001

# Đường dẫn giao tiếp giữa các Container (trong mạng Docker)
AI_SERVICE_URL=http://ai-service:8001
MONGODB_URI=mongodb://mongodb:27017/mobile_price_db

# Môi trường chạy
ENVIRONMENT=production
