# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/

# Dataset
*.zip
*.csv
*.xlsx

# Machine Learning models
*.joblib
*.pkl
*.h5
*.keras

# Logs
*.log

# Node
node_modules/

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db
